@import "/src/styles/themes.css";

.favorite-button {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: var(---muted-foreground);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 0;
    z-index: 10;
}

.favorite-button:hover {
    background-color: rgba(220, 53, 69, 0.8);
}

.favorite-button.favorited:hover {
    background-color: var(--muted-foreground);
}

.favorite-button svg {
    color: var(--primary);
    transition: fill 0.2s ease, transform 0.2s ease, color 0.2s ease;
}

.favorite-button.favorited svg {
    fill: #dc3545;
    color: #dc3545;
    transform: scale(1.1);
}
